/*==================================================================================
    Alex CSS Custom
====================================================================================*/

.mnabgblack {
    background-color: #0a2230;
    color: white;
}

.mnatext {
    color: white;
}

.bg-alex{
    background-color: #df4d7dcc;
}